{% extends 'basic.html' %}

{% block body %}
{% load static %}

<div class="hero-wrap js" style="background-image: url({% static 'sairweb/images/bg_2.jpg' %}); height:300px;">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js align-items-center justify-content-center"  data-scrollax-parent="true">
          <div class="col-md-9 ftco-animate text-center" style="margin-top:140px;" data-scrollax=" properties: { translateY: '70%' }">
            <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">About Us</h1>
          </div>
        </div>
      </div>
    </div>

<section class="ftco-section">
    	<div class="container">
    		<div class="row d-md-flex">
	    		<div class="col-md-6 ftco-animate img about-image" style="background-image: url({% static 'sairweb/images/destination-5.jpg' %});">
	    		</div>
	    		<div class="col-md-6 ftco-animate p-md-5">
		    		<div class="row">
		          <div class="col-md-12 nav-link-wrap mb-5">
		            <div class="nav ftco-animate nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
		              <a class="nav-link active" id="v-pills-whatwedo-tab" data-toggle="pill" href="#v-pills-whatwedo" role="tab" aria-controls="v-pills-whatwedo" aria-selected="true">Overview</a>

		              <a class="nav-link" id="v-pills-mission-tab" data-toggle="pill" href="#v-pills-mission" role="tab" aria-controls="v-pills-mission" aria-selected="false">Our Mission</a>

		              <a class="nav-link" id="v-pills-goal-tab" data-toggle="pill" href="#v-pills-goal" role="tab" aria-controls="v-pills-goal" aria-selected="false">Our Vision</a>
		            </div>
		          </div>
		          <div class="col-md-12 d-flex align-items-center">

		            <div class="tab-content ftco-animate" id="v-pills-tabContent">

		              <div class="tab-pane fade show active" id="v-pills-whatwedo" role="tabpanel" aria-labelledby="v-pills-whatwedo-tab">
		              	<div>

			              	<p align="justify">Established in 2013-SAir AIR BD LTD has the story of success and expansion. Readily recognized as the leading travel house in Bangladesh the company is owned and managed by a highly professional team. It has the GSA of Himalaya Airlines (H9) and PSA of VietjetAir (VJ). </p>

			                <p align="justify">In Line with IATA rules & regulation SAir AIR BD LTD has been float an IATA Travel agency in the name & style of Skylight Corporation. Both are under the same management with separated offices and employees. Skylight Corporation has close and excellent relationship with international Airlines, which help the company to look after corporate client in a decent manner.</p>

			                <p align="justify">Professionalism and excellence of services are the key words of the organization and is aptly reflected in the wide coverage of the travel market ranging from top business executives, High Govt. Officials, Civil Aviation Authority of Bangladesh Foreign Missions, Local and International Banks, International Organizations.</p>

				            </div>
		              </div>

		              <div class="tab-pane fade" id="v-pills-mission" role="tabpanel" aria-labelledby="v-pills-mission-tab">
		                <div>

			              	<p align="justify">Exploit and develop new Airline in Bangladesh. An ever- listening commitment to our partners to purchase and achieve is the best possible in the market. Establishment on fair open and transparent long-term partnership. Build up and maintains of the operational back bone require to support the carriers day by day activities.</p>
				            </div>
		              </div>

		              <div class="tab-pane fade" id="v-pills-goal" role="tabpanel" aria-labelledby="v-pills-goal-tab">
		                <div>

			              	<p align="justify">SAir AIR BD LTD is to be always forward looking Aviation Company aims for providing the best possible all –service Airline representation in the passenger and Air cargo Market, while fully maintaining the Airline’s own identity and propositions.</p>
				            </div>
		              </div>
		            </div>
		          </div>
		        </div>
		      </div>
		    </div>
    	</div>
    </section>

    <section class="ftco-section bg-light">
    	<div class="container">
    		<div class="row justify-content-start mb-1 pb-1">
          <div class="col-md-7 heading-section ftco-animate">

            <h2><strong>Core Purposes</strong></h2>
          </div>
        </div>
    		<div class="row">
    			<div class="col-md-8 ftco-animate">
    				<div id="accordion">

    							<div class="card" style="max-height:50px;">

						        		<ul style="list-style-type:square;">
										  <li style="padding:10px;"><h6>Maintain a competitive edge in the market</h6></li>
						        		</ul>

						      </div>

						      <div class="card" style="max-height: 50px;">

						        		<ul style="list-style-type:square;">
						        			<li style="padding:10px;"><h6>Constant improvement of the services and quality</h6></li>
						        		</ul>


						      </div>

						     <div class="card" style="max-height: 50px;">

						        		<ul style="list-style-type:square;">

						        			<li style="padding:10px;"><h6>Ethical business conduct with total customer satisfaction</h6></li>
						        		</ul>

						      </div>

    							<div class="card" style="max-height: 50px;">

						        		<ul style="list-style-type:square;">

						        			<li style="padding:10px;"><h6>Improvement and adaptation of latest technologies in the travel industry</h6></li>
						        		</ul>


						      </div>

						      <div class="card" style="max-height: 50px;">

						        		<ul style="list-style-type:square;">

						        			<li style="padding:10px;"><h6>Employee job satisfaction</h6></li>
						        		</ul>


						      </div>

							  <div class="card" style="max-height: 50px;">

						        		<ul style="list-style-type:square;">

						        			<li style="padding:10px;"><h6>Safety-Conscious-Joyful-friendly-professional</h6></li>
						        		</ul>


						      </div>

				    </div>
    			</div>
    		</div>
    	</div>
    </section>



{% endblock %}