{% extends 'basic.html' %}


{% block body%}

{% load static %}



<div class="hero-wrap js-fullheight" style="background-image: url({% static 'sairweb/images/visa.jpg' %});">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-9 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
            <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="{% url 'index' %}">Home</a></span></p>
            <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Visa Requirements</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section services-section bg-light" style="padding-bottom:35px; margin-top: 100px;">
      <div class="container">


 <div class="row">
<div class="col-sm-6">
  <div class="row-sm-6">
    <div class="card">
      <h5 class="card-header"><i class="icon icon-book">  </i>Basic Requirements</h5>
      <div class="card-body">
        <h5 class="card-title">For an ordinary person, the requirements are:</h5>

           <ul>
                  <li>Passport with validity not less than 6 months  from the time of application</li>
                  <li>2 Copies of recent passport size picture. MATT PAPER </li>
                  <li>Flight itinerary</li>
                  <li>Hotel booking confirmation voucher</li>
                  <li>Bank solvency statement</li>
           </ul>

      </div>
</div>
  </div>

  <div class="row-sm-6 mt-2">
      <div class="card">
      <h5 class="card-header"><i class="icon icon-flag">  </i>Check List</h5>
      <div class="card-body">
        <h5 class="card-title">The required fees:</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.ijoxfhginfd
        jkdfgkjdnfgkndfg
        sdjfkgbkjsndf sdf
        sdfjbsjdknfsdf
        sdfukbsjdfnb

        </p>
      </div>
</div>
  </div>
</div>

          <div class="col-sm-6">
  <div class="row-sm-6">
    <div class="card">
      <h5 class="card-header"><i class="icon icon-money">  </i>Visa Consultancy Fee</h5>
      <div class="card-body">
        <h5 class="card-title">For an ordinary person, the requirements are:</h5>

           <ul>
                  <li>Passport with validity not less than 6 months  from the time of application</li>
                  <li>2 Copies of recent passport size picture. MATT PAPER </li>
                  <li>Flight itinerary</li>

           </ul>

      </div>
</div>
  </div>

  <div class="row-sm-6 mt-2">
      <div class="card">
      <h5 class="card-header"> <i class="icon icon-plus">  </i>Our Consultancy Services Include</h5>
      <div class="card-body">
        <h5 class="card-title">The required fees:</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.ijoxfhginfd
        jkdfgkjdnfgkndfg
        sdjfkgbkjsndf sdf
        sdfjbsjdknfsdf
        sdfukbsjdfnb

        </p>
      </div>
</div>
  </div>
</div>

</div>

      </div>
    </section>

{% endblock %}