{% extends 'basic.html' %}


{% block body%}

{% load static %}



<div class="hero-wrap js" style="background-image: url({% static 'sairweb/images/visa.jpg' %}); height:300px;">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js align-items-center justify-content-center"  data-scrollax-parent="true">
          <div class="col-md-9 ftco-animate text-center" style="margin-top:140px;" data-scrollax=" properties: { translateY: '70%' }">
            <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Egypt</h1>
              <h3 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }" style="color:white;">Visa Requirements</h3>
          </div>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section services-section bg-light" style="padding-bottom:35px; margin-top: 100px;">
      <div class="container">


          <div class="row">
<div class="col-sm-6">
  <div class="row-sm-6">
    <div class="card">
      <h5 class="card-header"> <i class="icon icon-clone"> </i> Basic Information</h5>
      <div class="card-body">


              <p>For Bangladeshi visa seekers who want to travel to Egypt are issued visas in varies categories such as:</p>
              <p><span style="color: #008080;"><strong>✔</strong></span> Visit visa <br />
                  <strong><span style="color: #008080;"> ✔</span></strong>  Tourist visa <br />
                <strong><span style="color: #008080;">✔</span></strong> Business visa <br />
                <span style="color: #008080;"><strong>✔ </strong></span>Transit visa <br />
                <span style="color: #008080;"><strong>✔</strong> </span>Others</p>


          <h6>Address:</h6>
            <p><strong>SAir AIR BD LTD, Gulshan-1, Dhaka</strong><br />
            B4 (4th Floor), House # 12, Road # 16/A, Gulshan 1,<br />
            Dhaka-1212,Bangladesh</p>
            <p></p>
            <p><strong>Helpline: </strong><br />
            (+02) 58810140 (From 10:00 – 18:00)<br />
            (+88) 01910000904 (for mobile users only) (From 10:00 – 18:00 )</p>
            <p><strong>Email: </strong><a href="mailto:info@sairbd.com">info@sairbd.com</a></p>
            <p></p>
            <p><strong>Working Hours:</strong><br /> 10:00 &#8211; 18:00 (Saturday to Thursday)<br />
            Application Submission: 10:30 &#8211; 13:00 (Sunday to Thursday)<br />
            Passport Delivery (For all applicants): 14:00 – 16:00</p>



      </div>
</div>
  </div>


  <div class="row-sm-6 mt-2">
      <div class="card">
      <h5 class="card-header">  <i class="icon icon-money"> </i> Visa Fee & Processing Time</h5>
      <div class="card-body">


          <p><h6>Price of Processing including Visa Fee:</h6></p>

          
         <table class="table table-bordered">
          <thead class="thead-grey">
            <tr>
              <th scope="col">Visa & Application Center Fee </th>
              <th scope="col">Service Charge</th>
              <th scope="col">Total</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>4000/-</td>
              <td>500/-</td>
              <td>4500/-</td>
            </tr>
          </tbody>
        </table>


          <p><h6>Processing Time:</h6> 7 working days.</p>


          <p>Consular officer of the Royal Thai Embassy reserves the right to request for additional documents as deemed necessary.</p>



      </div>
</div>
  </div>

</div>

          <div class="col-sm-6">
  <div class="row-sm-6">
    <div class="card">
      <h5 class="card-header"> <i class="icon icon-flag"> </i> Check List</h5>
      <div class="card-body">

          <h6>For Tourist visa in Vietnam, the requirements are:</h6>

           <ul>
               <li>Original Passport</li>
               <li>1 Visa form</li>
               <li>Photo 2 copies (35/45 Recent)</li>
               <li>Written invitation for no tourist</li>
               <li>Govt. letter from employer (Seal free) in Bangladesh</li>
               <li>Return Air Ticket</li>
               <li>Hotel reservation document</li>
               <li>Statement of bank transactions for last 3 months</li>
               <li>Taxes Identification Number (TIN)</li>

           </ul>

          <p>Consular officers reserve the rights to request additional documents as deemed necessary.</p>

      </div>
</div>

            <a style="margin-left:190px; margin-top:40px;" href="/sairweb/visaTrackingEdit" class="btn btn-primary py-3 px-5">Apply Visa</a>
  </div>


</div>

</div>

      </div>
    </section>

{% endblock %}